<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
   <display-name>NewsInfoManage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.lucy.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>resolveNewsServlet</servlet-name>
    <servlet-class>com.lucy.servlet.ResolveNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resolveNewsServlet</servlet-name>
    <url-pattern>/admin/resolveNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>imageTestServlet</servlet-name>
    <servlet-class>com.lucy.servlet.ImageTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageTestServlet</servlet-name>
    <url-pattern>/user/imageTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bbsServlet</servlet-name>
    <servlet-class>com.lucy.servlet.BbsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bbsServlet</servlet-name>
    <url-pattern>/bbs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newsListServlet</servlet-name>
    <servlet-class>com.lucy.servlet.NewsListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>newsSaveServlet</servlet-name>
    <servlet-class>com.lucy.servlet.NewsSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>newsDeleteServlet</servlet-name>
    <servlet-class>com.lucy.servlet.NewsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsListServlet</servlet-name>
    <url-pattern>/admin/newsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newsDeleteServlet</servlet-name>
    <url-pattern>/admin/newsDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newsSaveServlet</servlet-name>
    <url-pattern>/admin/newsSave</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>typeListServlet</servlet-name>
    <servlet-class>com.lucy.servlet.TypeListServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>typeListServlet</servlet-name>
    <url-pattern>/admin/typeList</url-pattern>
  </servlet-mapping>
  
  <!-- 评论相关内容 start --> 
   <servlet>
    <servlet-name>commentListServlet</servlet-name>
    <servlet-class>com.lucy.servlet.CommentListServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>commentListServlet</servlet-name>
    <url-pattern>/admin/commentList</url-pattern>
  </servlet-mapping>
  
 <!--  <servlet>
    <servlet-name>commentSave</servlet-name>
    <servlet-class>com.lucy.servlet.CommentSaveServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>commentSave</servlet-name>
    <url-pattern>/admin/commentSave</url-pattern>
  </servlet-mapping> -->
  
  <servlet>
    <servlet-name>commentDelete</servlet-name>
    <servlet-class>com.lucy.servlet.CommentDeleteServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>commentDelete</servlet-name>
    <url-pattern>/admin/commentDelete</url-pattern>
  </servlet-mapping>
  
  
    <!-- 评论相关内容 end-->
  
  
  <servlet>
    <servlet-name>typeComboListServlet</servlet-name>
    <servlet-class>com.lucy.servlet.TypeComboListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>typeSaveServlet</servlet-name>
    <servlet-class>com.lucy.servlet.TypeSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>typeDeleteServlet</servlet-name>
    <servlet-class>com.lucy.servlet.TypeDeleteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>typeComboListServlet</servlet-name>
    <url-pattern>/admin/typeComboList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>typeDeleteServlet</servlet-name>
    <url-pattern>/admin/typeDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>typeSaveServlet</servlet-name>
    <url-pattern>/admin/typeSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userListServlet</servlet-name>
    <servlet-class>com.lucy.servlet.UserListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userSaveServlet</servlet-name>
    <servlet-class>com.lucy.servlet.UserSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userDeleteServlet</servlet-name>
    <servlet-class>com.lucy.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userUpateServlet</servlet-name>
    <servlet-class>com.lucy.servlet.UserUpateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userLoginServlet</servlet-name>
    <servlet-class>com.lucy.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userListServlet</servlet-name>
    <url-pattern>/admin/userList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userDeleteServlet</servlet-name>
    <url-pattern>/admin/userDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userSaveServlet</servlet-name>
    <url-pattern>/user/userSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userUpateServlet</servlet-name>
    <url-pattern>/admin/userUpate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userLoginServlet</servlet-name>
    <url-pattern>/user/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminListServlet</servlet-name>
    <servlet-class>com.lucy.servlet.AdminListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminSaveServlet</servlet-name>
    <servlet-class>com.lucy.servlet.AdminSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminDeleteServlet</servlet-name>
    <servlet-class>com.lucy.servlet.AdminDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminUpateServlet</servlet-name>
    <servlet-class>com.lucy.servlet.AdminUpateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminLoginServlet</servlet-name>
    <servlet-class>com.lucy.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminListServlet</servlet-name>
    <url-pattern>/admin/adminList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminDeleteServlet</servlet-name>
    <url-pattern>/admin/adminDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminSaveServlet</servlet-name>
    <url-pattern>/admin/adminSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminUpateServlet</servlet-name>
    <url-pattern>/admin/adminUpate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminLoginServlet</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
</web-app>